.CompraVenda { 
  min-height: 100vh; 
  height: 100%;  
}

.CompraVenda table {
  margin: 45px 0;  
}

td {
  text-align: center;
}

.CompraVenda .btnVoltar {
  margin-top: 120px;
}

.btnDepositoRetirada {  
  margin-top: 100px;
}

