.Header{
  align-items: center;  
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
  min-width: 360px;
  width: 100%; 
}

.Header img {
  width: 130px;  
}

.Header div {
  background-color: var(--background-button-primary);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;  
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 163px;
}

.Header span {
  font-weight: bold;
}