
table {    
  font-weight: bold;
  margin: 20px 0 30px 0;
  width: 100%;
  border-spacing: 10px; 
}

table tr { 
  text-align: center;  
}

table th {
  background-color: #E5E5E5;
  border-radius: 5px;
  padding: 5px ;  
}

table td  {
  padding: 3px;  
  border-radius: 5px;
}

.buttons {  
  display: flex;
  justify-content: space-around;
}
