.Login {
  align-items: center;
  background-color: var(--background-primary); 
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;  
  padding: 10px;
}

.Login img {
  margin-bottom: 50px;
  max-width: 340px;
  min-width: 294px;
}