.MeuSaldo {  
  text-align: center; 
}

.saldo {
  align-items: center;
  background-color: var(--background-button-primary);
  border-radius: 5px;  
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}

.DepositoRetirada .inputValor {
  border: none;
  border-radius: 5px;
  color: var(--background-button-primary);
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  margin: 80px 0 30px 0;
  text-align: center;
  width: 235px;
}

.btnDepositar, .btnRetirada{
  border-radius: 5px;
  color: #FFFFFF;
  height: 38px;  
  font-size: 20px;
  font-weight: bold;
  width: 120px;
}

.btnDepositar {
  background-color: var(--background-button-compra);
}

.btnRetirada {  
  background-color: var(--background-button-venda);  
}

.MeuSaldo .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
  
}





