
.Operacoes .saldo {
  width: 25%;
  color:#FFFFFF;
  font-weight: bold;
  margin-bottom: 30px;
}
 .Operacoes input {
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
 }

 .Operacoes .totalPagar{
  background-color: var(--background-acoes);
  color: #FFFFFF;
 }
