:root {
  --background-qtde: #3A5A40;
  --background-acoes: #FCA311;
  --background-valor: #000;
  --background-primary: #58815780;
  --background-button-compra: #0DCB13;
  --background-button-primary: #14213D;
  --background-button-secundary: #FCA311;
  --background-button-venda: #F39A08;  
}

.screenWidth { 
  background-color: var(--background-primary); 
  min-height: 100vh;  
  margin: 0 auto;
  max-width: 800px;
  /* min-width: 360px; */
  padding: 20px;
  width: 100%;
}

.btnAcessar {
  background-color: var(--background-button-secundary);
}

.title {
  background-color: var(--background-button-primary);
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;  
  line-height: 33px;  
  text-align: center;
  width: 100%;
}

.nomeAcao {
  background-color: var(--background-acoes);
  color: var(--background-button-primary);
  font-size: 16px;
  font-weight: bolder;
}

.qtdeAcao {
  background-color: var(--background-qtde);
  color: #FFFFFF;
  font-size: 12px;
}

.valorAcao {
  background-color: var(--background-valor);
  color: #FFFFFF;
  font-size: 12px;
}

.btnCompraVenda {  
  border: none;
  border-radius: 5px; 
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  height: 23px;
  width: 40px;
}

.btnVenda {
  background-color: var(--background-button-venda);
}

.btnCompra {
  background-color: var(--background-button-compra);
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button:disabled {
  background-color: #CFC1C1;
  color: #FFFFFF;  
}

button {
  cursor: pointer;
}

.btnVoltar, .btnConfirmar {
  background-color: var(--background-button-primary);
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  width: 120px;
  
}

th {
  width: 25%;
}